
*{
    margin: 0;
    padding: 0;
}

.col-red, .col-blue, .col-green, .col-yellow{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    
}

.col-red{
    background-color: red;
}

#margin{
    border: 1px solid black;
}


.col-blue{
    background-color: blue;
}

.col-green{
    background-color: green;
}

.col-yellow{
    background-color: yellow;
}